.card-component{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 50px;
    align-items: center;
}

.h2-tag{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 20;
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
}

.link{
    color: #025fca;
    text-decoration: none;
}

